<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehicles</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go vehicles</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehicle Hires</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Vehicle Hires</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehicle Movements</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Manage Movements</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehicle Maintance</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Maintance Record</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehicle Types</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Manage Vehicle types</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehicle Movements</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Manage vehicle status</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehicle Makes</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Manage Vehicle Makes</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehicle Models</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Manage Vehicle Models</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>